.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-section {
  position: fixed;
  top: 10px;
}
.box {
  padding: 20px;
  border: 1px solid white;
  width: 20vw;
  font-size:.7em;
  text-align: left;
  margin-bottom: 10px;
}

.section-right {
  right: 10px;
}

.section-left {
  left: 10px;
}

.box-stack {
  position: relative;
}

#verb-list-title {
  margin-top: 0;
  margin-bottom: 10px;
}
